.hatter {
    display: flex;
    background: linear-gradient(to right, #b5d19f,#60c253);
}

.balNyil {
    margin-right: 10px;
    order: 1;
}
.jobbNyil {
    margin-left: 10px;
    transform: rotate(0.5turn);
    order: 3;
}

.folsoResz {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;

}

.fokep {
    order: 2;
    background-image: url();
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
}
