.hatter {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(to right, #b5d19f,#60c253);
}

.balNyil {
    margin-right: 20px;
    order: 1;
}
.jobbNyil {
    margin-left: 20px;
    transform: rotate(0.5turn);
    order: 3;
}

.folsoResz {
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.fokep {
    order: 2;
    background-image: url();
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
}

.balNyil:hover {
    cursor: pointer;
}

.jobbNyil:hover {
    cursor: pointer;
}
.kozep {
    margin: auto;
}
.alsoResz {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;    
}

.thumbnails {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(131, 156, 102);
    box-shadow: 0 8px 6px -6px black;
    background-image: url();
    background-size: cover;
}

/*
.elso {
    width: 80px;
    height: auto;
}

.masodik {
    width: 80px;
    height: auto;
}

.harmadik {
    width: 80px;
    height: auto;
}

.negyedik {
    width: 80px;
    height: auto;
}
*/